# Ignorar salidas de compilación Maven
/laboratories/**/target/

# Ignorar clases compiladas y artefactos generados
**/target/
# Ignore Eclipse project settings
**/.settings/
# Ignore IDE project files
*.classpath
*.project
**/.vscode/
**/.idea/
*.iml
